@page
@model ChuckNorris_SPA.Pages.SearchModel
@{
}
<div class="text-center" id="categoriesDiv">
   
    <div id="jokeCategory"></div>
    <p><span id="created_at"></span></p>
    <p><span id="icon_url"></span></p>
    <p id="id"></p>
    <p><span id="updated_at"></span></p>
    <p id="url"></p>
    <p>Joke: <span id="value"></span></p>
   
</div>


<div class="text-center" id="categoriesDiv2">
    <div id="birth_Year"></div>
    <p id="eye_Color"></p>
    <p id="gender"></p>
    <p id="hair_Color"></p>
    <p id="height"></p>
    <p id="homeworld"></p>
    <p id="mass"></p>
    <p id="skin_Color"></p>
  
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-2">
                    <div class="text-center">
                        <h5 class="display-4">Films</h5><br />
                        <p id="films"></p>
                    </div>
                </div>
                <div class="col-md-2">

                    <div class="text-center">
                        <h5 class="display-4">Species</h5><br />
                        <p id="species"></p>
                    </div>
                </div>
                <div class="col-md-2">

                    <div class="text-center">
                        <h5 class="display-4">Starships</h5><br />
                        <p id="starships"></p>
                    </div>
                </div>
                <div class="col-md-2">

                    <div class="text-center">
                        <h5 class="display-4">Vehicles</h5><br />
                        <p id="vehicles"></p>
                    </div>
                </div>
                <div class="col-md-2">

                    <div class="text-center">
                        <h5 class="display-4">url</h5><br />
                        <p id="url"></p>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>
<script src=~/js/Search.js></script>
<script type="text/javascript">
    function getCategory() {
        var searchKey = "";
        const tempKoje = new URLSearchParams(window.location.search)
        for (const [key, value] of tempKoje) {
            searchKey = key +"#"+value;
        }
        return searchKey;
    }
    
    function searchJoke(){

        let searchKey = getCategory().split("#");
        if (searchKey != null && searchKey[0] == "joke"){
            Search.Functions.SearchJoke(searchKey[1]);
        } else if (searchKey != null && searchKey[0] == "people") {
            Search.Functions.SearchPeople(searchKey[1]);
        }

    }

    Search.Functions.Initialise
        (
            'ApiKey',
            'acount',
            getCategory(),
        );


</script>